---
import type { PaginateFunction } from "astro";
import { getCollection } from "astro:content";
import { Picture } from "astro:assets";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Pagination from "@components/pagination.astro";

// Sort content entries by publication date

export async function getStaticPaths({
  paginate,
}: {
  paginate: PaginateFunction;
}) {
  const PAGE_SIZE = 6;
  const allPosts = await getCollection("blog", ({ data }) => {
    return !data.draft && data.publishDate < new Date();
  });

  const allSortedPosts = allPosts.sort(function (a, b) {
    return b.data.publishDate.valueOf() - a.data.publishDate.valueOf();
  });

  return paginate(allSortedPosts, {
    pageSize: PAGE_SIZE,
  });
}

const getCustomUrl = (entry: any) => {
  const date = new Date(entry.data.publishDate);
  const year = date.getFullYear();
  const month = String(date.getMonth() + 1).padStart(2, '0');
  const day = String(date.getDate()).padStart(2, '0');
  
  const slugify = (text: string) => text.toLowerCase().replace(/[^\w\s-]/g, '').replace(/\s+/g, '-').trim();

  return `/blog/${year}/${month}/${day}/${slugify(entry.data.title)}/`; // Add trailing slash if needed
};

const { page } = Astro.props;
---

<Layout title="Blog">
  <Container>
    <Sectionhead>
      <Fragment slot="title">epanet-js Blog</Fragment>
      <Fragment slot="desc">
        We write about the intersection at water industry and software.
      </Fragment>
    </Sectionhead>
    <main class="mt-16">
      <ul class="grid gap-16 max-w-4xl mx-auto">
        {
          page.data.map((post, index) => (
            <li>
              <a href={getCustomUrl(post)}>
                <div class="grid md:grid-cols-2 gap-5 md:gap-10 items-center">
                  <Picture
                    formats={["avif", "webp"]}
                    src={post.data.image.src}
                    alt={post.data.image.alt}
                    sizes="(max-width: 800px) 100vw, 800px"
                    width={800}
                    height={600}
                    loading={index <= 2 ? "eager" : "lazy"}
                    decoding={index <= 2 ? "sync" : "async"}
                    class="w-full rounded-md object-cover"
                    transition:name={`post-img-${post.slug}`}
                  />
                  <div class="mt-4">
                    <span class="text-blue-400 uppercase tracking-wider text-sm font-medium">
                      {post.data.category}
                    </span>

                    <h2 class="text-3xl font-semibold leading-snug tracking-tight mt-1 ">
                      {post.data.title}
                    </h2>

                    <div class="flex gap-2 mt-3">
                      <span class="text-gray-400">{post.data.author}</span>
                      <span class="text-gray-400">• </span>
                      <time
                        class="text-gray-400"
                        datetime={post.data.publishDate.toISOString()}>
                        {post.data.publishDate.toDateString()}
                      </time>
                    </div>
                  </div>
                </div>
              </a>
            </li>
          ))
        }
      </ul>
      <Pagination url={page.url} />
    </main>
  </Container>
</Layout>
