---
import { Icon } from "astro-icon/components";
import Link from "@components/ui/link.astro";
import { Check } from "lucide-react";

interface Props {
  plan: Plan;
}

const { plan } = Astro.props;

const colors = {
  indigo: "text-indigo-600",
  orange: "text-orange-700",
  purple: "text-purple-600",
};
type Color = keyof typeof colors;
export type Plan = {
  name: string;
  price: string | null;
  desc: string;
  color: Color;
  popular: boolean;
  features: string[];
  features_title?: string;
  features_soon?: string[];
  button: {
    highlight: boolean;
    text: string;
    link: string;
  };
};
---

<div
  class:list={[
    "relative flex flex-col p-6 rounded-lg border bg-background transition-shadow mx-auto md:mx-0 w-full max-w-[450px] md:min-w-0",
    plan.popular
      ? "shadow-lg shadow-purple-200/50 hover:shadow-xl hover:shadow-purple-300/50"
      : "border-neutral-200 shadow-sm hover:shadow-md",
  ]}
>
  {
    plan.popular && (
      <span
        class="inline-flex absolute px-3 py-1 text-xs -top-3 left-1/2 -translate-x-1/2 font-medium rounded-full bg-gradient-to-r from-indigo-500 to-purple-500 text-white"
      >
        Popular
      </span>
    )
  }

  <div class="flex flex-col gap-2">
    <h3
      class="tracking-tight flex items-center justify-between w-full text-xl font-semibold"
    >
      {plan.name}
    </h3>
    <p class="text-base text-gray-900">{plan.desc}</p>
    <p class="text-black">
      {
        plan.price ? (
          <span class="flex items-baseline">
            <span class="text-4xl font-bold">$</span>
            <span class="font-bold text-2xl md:text-4xl">
              {plan.price}
            </span>
            <span class="ml-1 text-neutral-600">/month</span>
          </span>
        ) : (
          <span class="font-bold text-2xl md:text-4xl">Custom</span>
        )
      }
    </p>
  </div>

  {plan.name === "Pro" ? <p class="mt-2 mb-6">Individual named license</p> : ""}

  {
    plan.name === "Teams" ? (
      <div class="flex items-center gap-2 mt-2 mb-6">
        <p class="text-base text-gray-900 min-h-[1.5rem]">
          Floating shared license
        </p>
        <div class="relative group">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-info h-5 w-5 text-gray-500 cursor-pointer"
          >
            <circle cx="12" cy="12" r="10"></circle>
            <path d="M12 16v-4"></path>
            <path d="M12 8h.01"></path>
          </svg>
          <div
            class="absolute z-20 bottom-full left-1/2 transform -translate-x-1/2 mb-2 hidden group-hover:block bg-gray-800 text-white text-xs rounded-md px-4 py-2 w-max max-w-xs"
          >
            Minimum 2 licenses
          </div>
        </div>
      </div>
    ) : (
      ""
    )
  }

  {
    plan.features_title ? (
      <p class="mb-3 block text-sm text-gray-500">
        {plan.features_title}
      </p>
    ) : (
      ""
    )
  }
  {
    plan.name === "Free" ? <div class="sm:h-4 md:h-20"></div> : ""
  }
  <ul class="grid text-left gap-y-2">
    {
      plan.features.map((item) => (
        <li class="flex items-center gap-2 text-neutral-800">
          <Check
            className="mt-0.5 h-4 w-4 text-green-500 flex-shrink-0 self-start"
          />
          <span class="text-sm">{item}</span>
        </li>
      ))
    }
  </ul>

  {
    plan.features_soon ? (
      <>
        <p class="mt-6 mb-3 block text-sm text-gray-500">Coming soon:</p>
        <ul class="grid text-left gap-y-2">
          {
            plan.features_soon.map((item) => (
              <li class="flex items-center gap-2 text-neutral-800">
                <Check
                  className="mt-0.5 h-4 w-4 text-gray-400 flex-shrink-0 self-start"
                />
                <span class="text-sm">{item}</span>
              </li>
            ))
          }
        </ul>
      </>
    ) : (
      ""
    )
  }

  <div class="flex pt-4 mt-auto">
    <Link
      href={plan.button.link || "#"}
      block
      style={plan.button.highlight ? "primary" : "muted"}
    >
      {plan.button.text || "Get Started"}
    </Link>
  </div>
</div>
